*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.header_container,
.footer_container{
	background-color: rgb(0, 127, 0);
	color: white;
	text-align: center;
}
.header_container{
	display: flex;
	position: fixed;
	justify-content: center;
	width: 100%;
	font-size: 22px;
	padding: 20px;
}
.logo_pencil{
	height: 40px;
	width: 40px;
	filter: brightness(0) invert(1);
	margin-right: 20px;
	align-items: center;
}
main{
	background-color: rgb(255, 233, 204);
}
.main_container,
.info_container,
.main_title{
	width: 90%;
	margin: 0 auto;
}
.main_title{
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	padding: 20px 0;
	text-decoration: underline;
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}
.slider_block,
.info_container{
	padding-top: 100px;
}
.userPosts{
	display: flex;
	justify-content: center; 
	flex-wrap: wrap; 
	gap: 30px; 
	padding-top: 10px; 
	padding-bottom: 30px
}
.post_card{
	display: inline-block;
	align-items: center;
	flex-wrap: nowrap;
	background-color: #fffbe091;
	border: 2px solid white;
	border-radius: 10px;
	padding: 15px 25px;
	width: 30%;
	box-shadow: 4px 4px 0px 1px rgba(85, 151, 125, 0.36);
}
.post_card>h4{
	padding: 0 10px 15px;
	font-size: 26px;
	font-weight: 600;
	text-align: center;
	text-decoration: overline;
	text-decoration-color: #3f8a5b;
	line-height: 40px;
}
.post_card>p{
	text-align: justify;
	padding: 0 10px;
	font-size: 20px;
	line-height: 30px;
}
.userList{
	display: flex; 
	justify-content: center; 
	flex-wrap: wrap; 
	gap: 30px; 
	padding-top: 10px; 
	padding-bottom: 40px
}
.userCard{
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	background-color: #ffd2b257;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 10px;
	padding: 15px;
	width: 23%;
	height: 80px;
	box-shadow: 4px 4px 0px 1px rgb(89 60 41 / 36%);
}
.userCard:hover{
	box-shadow: 6px 6px 14px 3px rgba(168 101 62 / 53%);
}
.userAvatar{
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.userName{
	font-size: 18px;
	font-weight: 500;
	padding: 5px;
	margin-left: 15px;
}
a{
	text-decoration: none;
}
a:visited{
	color: rgb(54, 1, 101);
}
.footer_container{
	font-size: 18px;
	padding: 10px;
}
.footer_container>p{
	padding: 5px;
}

/* стилі для сторінки з інформацією про користувача */
.user_details{
	text-align: center;
	padding: 30px 0;
}
.info_block{
	margin: 10px 0;
}
.user_title{
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 5px;
}
.infotext_style{
	font-size: 18px;
	font-weight: 300;
}
.button_back{
		text-align: center;
		padding-bottom: 20px;
}
.button {
	display: inline-block;
	border-radius: 4px;
	background-color: #b3e4b3;
	border: 1px solid black;
	text-align: center;
	font-size: 18px;
	padding: 5px 10px;
	box-shadow: 4px 4px 0px 1px darkolivegreen;
}
.button:hover{
	padding: 10px;
	cursor: pointer;
}